/*-------Navigation Bar-------*/
.nav{
    overflow: hidden;
    background-color: teal;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 300;
}
.nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 19.6px;
    text-decoration: none;
    font-size: 16px;
}
.nav a:hover {
    color: red;
    background-color: thistle;
}
.nav .icon{
    display: none;
}
/*---------Media Queries for Navigation Bar---------*/
@media screen and (max-width: 620px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .nav.responsive {position: fixed;}
    .nav.responsive a.icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .nav.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
  }
/*-----------For all------------*/
body::-webkit-scrollbar { 
    display: none; 
}
body, html, section{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*-----Parallax Effect---------*/
.bg{
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    background-size: cover;
    display: table;
}
.img1{
    background-image: url("Materials/profile.jpg");
}
.img2{
    background-image: url("Materials/Hobbies.jpg");
}
/*----------Homepage------------*/
.Intro{
    border: 10px white solid;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 200px;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width: 1300px){
    .Intro{
        font-size: 20px;
    }
}
@media screen and (max-width: 620px){
    .Intro{
        font-size: 15px;
    }
}
/*--------About Me------------*/
#AboutMe .column{
    width: 50%;
    float: left;
    height: 500px;
    background-color: black;
}
#AboutMe .column img{
    display: block;
    margin: auto;
}
#AboutMe .profile{
    position: relative;
    top: 5%;
    width: 400px;
    height: 400px;
    padding: 20px 0px;
    border-radius: 100%;
}
#AboutMe .infoimg{
    height: 500px;
    opacity: 0.5;
    width: 99.90%;
}
/*----Placing text in image-----*/
#AboutMe .column .info{
    border: 10px whitesmoke solid;
    position: relative;
    text-align: center;
    top: -60%;
    width: 40vw;
    margin: auto;
    padding: 20px;
    color: whitesmoke;
    font-size: 20px;
}
#AboutMe .column .info a{
    border: 2px whitesmoke solid;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
#AboutMe .column .info a:hover {
    background-color: #4CAF50;
    color: black;
}
/*-------Media Queries for About Me-------*/
@media screen and (max-width: 1300px) {
    #AboutMe .column{
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #AboutMe .infoimg{
        width: 100%;
    }
    #AboutMe .column .info{
        width: 60vw;
        padding: 50px 30px;
        top: -70%; 
    }
}
/*-------------Hobbies------------------*/
#Hobbies .col{
    width: 33.33%;
    float: left;
    padding: 0px 5px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10%;
}
#Hobbies .card{
    border: 5px white solid;
    position: relative;
    height: 400px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.card h3{
    text-align: center;
    background-color: thistle;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
}
.card img{
    width: 300px;
}
.card p{
    padding: 10px;
    text-align: justify;
    margin: 0;
}
/*----flip effect-----*/
.col .card{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.col:hover .card{
    transform: rotateY(180deg);
}
.col:hover .front{
    opacity: 0;
}
.card .back{
    position: absolute;
    border: 5px #2980b9 solid;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    top: -5px;
    left: -4px;
    right: 0px;
    text-align: center;
    transform: rotateY(180deg);
    background-color: #2980b9;
}
.back a{
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 50%;
    color: blanchedalmond;
    font-size: 30px;
}
/*Media Queries for  Hobbies*/
@media screen and (max-width: 1000px) {
    #Hobbies .col{
      width: 100%;
      display: block;
    }
    #Hobbies .lastone{
        margin-bottom: 10%;
    }
  }

